<!doctype html>
<html lang="en" ng-app="">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/navigation.ejs %>

    <div class="main-container" ng-controller="">

        <section class="bg-primary pb0 fillHeight container-fluid">

            <div class="col-sm-12">
                <h2 class="leadLabel">
                    My Alerts
                    <a class="btn btn-warning btn-sm" href="/createAlert"><i class="fa fa-plus-square" aria-hidden="true"></i> New </a>
                </h2>
                <br>

                <% if (newEntry) { %>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Success!</strong> Your alert has been added to your property.
                    </div>
                <% } %>

                    <% if (user.reports.length > 0) { %>
                        <% user.reports.forEach(function(report) { %>

                            <div class="col-sm-3">
                                <div class="well shadow">

                                    <% if (report.reportId == '2') { %>
                                    <div style="min-height: 145px;">
                                        <h4 style="text-align: center"> Views Alert </h4>

                                        <hr/>

                                        <p>
                                            Minimum Threshold: <%= report.threshold.min %>
                                            <br>
                                            Maximum Threshold: <%= report.threshold.max %>
                                        </p>
                                    </div>

                                    <hr/>

                                    <form action="/deleteAlert" method="post">
                                        <button name="objectId[]" value="<%= report._id %>" class="btn btn-danger" style="display: table">
                                            Delete <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                    <% } else { %>
                                    <div>
                                        <h4 style="text-align: center">Performance Report </h4>

                                        <hr/>

                                        <p> Period: <%= report.period[0] %></p>

                                        <p>
                                            Repeated Every: <%= report.when.interval[0] %>
                                            <br>
                                            Repeated On: <%= report.when.time %>
                                        </p>
                                    </div>
                                        <hr/>
                                        <a href="/deleteAlert" class="btn btn-danger" style="display: table">
                                            Delete <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    <% } %>

                                </div>
                            </div>

                        <% }); %>

                    <% } else { %>

                        <div class="well shadow">
                            <div class="row">
                                <div style="text-align: center" class="col-sm-1 col-sm-offset-0">
                                    <i class="fa fa-calendar well-icon" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-11 col-sm-offset-0">
                                    <h4 class="well-text">You haven’t created any alerts yet</h4>
                                    <h4 class="well-text">Reports will be sent to you in the channel you’ve selected at any time you wish.</h4>
                                </div>
                            </div>
                        </div>

                    <% } %>

            </div>

        </section>
    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>